body{
    font: 14px Helvetica,Arial,sans-serif;
}

.hide{
    display: none;
}

.warpper{
    background:#676767;
    width:435px;
    height:450px;
    padding:20px;
    position: absolute;
    top:0px;
    bottom:0px;
    right:0px;
    left:0px;
    margin:auto;
}

.forbid{
    cursor: not-allowed;
}

.title{
    height: 40px;
    font-size: 28px;
    text-align: center;
    color: #ccc;
    font-weight: bold;

}

#header{
    height: 30px;
}

.playInfo{
    font-size: 20px;
    color: #fff;
    font-weight: bold;
}

.playInfo.cat{
    float: left;
}

.playInfo.people{
    float: right;
}

.playInfo.turn{
    color: #ff845e;
}

.row{
  
}

.row:nth-child(odd){
  
}

.row:nth-child(even){
    margin-left:20px;
}

.row div.item{
    margin-left:5px;
    padding:0px;
    display:inline-block;
    width:40px;
    height:40px;
    background:#b5b5b5;
    -moz-border-radius: 20px; 
    -webkit-border-radius: 20px; 
    border-radius: 20px; 
}

.row div.item.selected{
    background-color:#ff845e;
}

.row div.item.hascat{
    background-color: #fff;
    background-image: url(../image/cat0.jpg);
}

#mask{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    background-color: #000000;
    opacity: 0.5;
}

#dialog{
    position: absolute;
    width: 450px;
    height: 200px;
    background-color: #ffffff;
    top:0px;
    bottom:0px;
    right:0px;
    left:0px;
    margin:auto;
    z-index: 1040;
    border-radius: 6px;
}

.dialog-header, .dialog-content, .dialog-footer{
    padding:5px 20px;
}

.dialog-header{
    line-height: 36px;
    border-bottom: 1px solid #ccc;
}


